@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 70px;
    padding-left: $padding-base-horizontal;
    padding-right: $padding-base-horizontal;
}

.eventList {
    text-align: center;
    padding-bottom: $padding-large-vertical;
}

.navbar {
    z-index: 1;
}

.eventForm-enter {
    opacity: 0.01;
    transition: opacity 1s ease-in;
}

.eventForm-enter.eventForm-enter-active {
    opacity: 1;
}

.eventForm input {
    @extend .form-control;
    margin-top: $padding-large-vertical;
    margin-bottom: $padding-base-vertical;
}

.Autocomplete {
    z-index: 10000 !important;
    position: relative;
}
